<ion-header>
  <ion-toolbar  class="header-background-color">
    <ion-title color="light">
      RiverRipplesWeather
    </ion-title>

    <!-- <ion-buttons slot="end">
      <ion-menu-button autoHide="false" (click)="presentPopover($event)"></ion-menu-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" > 

  <!-- fab placed in the bottom to share the app in social media-->
  <ion-fab vertical="top" horizontal="end" right edge slot="fixed">
    <ion-fab-button>
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab> 

  <br><br>
  <ion-card class="myCard">  
    <ion-searchbar id="home-search" placeholder="City Name" [(ngModel)]="cityName" (keyup.enter)="getWeatherdata()"></ion-searchbar>
  </ion-card>

   <!-- Displaying Temperature -->
        <ion-card> 
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label color="primary">TEMPERATURE <ion-img style="width: 80px; height: 80px;" src="assets/weatherimage/temperature.PNG"></ion-img> </ion-label> 
              </ion-col>
              <ion-col> 
                <br><h1><strong> {{weatherInfo.main.temp - 273.15 | number:0}} °c </strong></h1>
              </ion-col>  
            </ion-row>
          </ion-grid>
        </ion-card>

          <ion-card > 
            <ion-grid>
              <ion-row>
                <ion-col>
                    <ion-label color="primary">HUMIDITY  <ion-img style="width: 80px; height: 80px;" src="assets/weatherimage/Humidity.PNG"></ion-img></ion-label> 
                </ion-col>
                <ion-col>
                  <br><h1><strong>{{weatherInfo.main.humidity}} % </strong></h1>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
         
         
            <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label color="primary">WIND  <ion-img style="width: 80px; height: 80px;" src="assets/weatherimage/wind.PNG"></ion-img></ion-label>  
                  </ion-col>
                  <ion-col>
                    <br><h1><strong>{{weatherInfo.wind.speed}} km/h </strong></h1>
                  </ion-col>
                </ion-row>
              </ion-grid>
           </ion-card>
          
          
            <ion-card>  
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label color="primary">PRESSURE  <ion-img style="width: 80px; height: 80px;" src="assets/weatherimage/Pressure.PNG"></ion-img></ion-label>  
                  </ion-col>
                  <ion-col>
                   <br><div class="weatherParameter"> <h1><strong>{{weatherInfo.main.pressure}} mb </strong></h1></div>
                  </ion-col>   
                </ion-row>
              </ion-grid>
            </ion-card>
 <br><br>
  <ion-label color="primary">5 DAYS FORECAST</ion-label>  
  <br>
  
      <ion-card class="">
        <div style="position: absolute;top: 50%;left: 16px;font-size: 25px;z-index: 2;" (click)="slidePrev()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <div style="position: absolute;top: 50%;right: 16px;font-size: 25px;z-index: 2;" (click)="slideNext()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div> 
      
        <!-- <ion-slides [options]="mySlideOptions" paginationType="bullets" slidesPerView="1" pager="true"> -->
        <ion-slides [options]="mySlideOptions">
          
          <ion-slide *ngFor="let slide of cityforcastweatherinfo">
            <ion-grid> 
              <ion-row class="forecastslide">
                   <ion-label color="primary">Date & Time <br>{{slide.dt_txt}}</ion-label>
              </ion-row>
              <br><br>
              <ion-row class="forecastslide">
                <ion-label color="primary">TEMPERATURE <br>{{slide.main.temp - 273.15 | number:0}} °c</ion-label>
                  
              </ion-row>
            </ion-grid>     
          </ion-slide>
          </ion-slides>
      </ion-card>


      <ion-card>
        <ion-card-header>
          5 days Summary
        </ion-card-header>
        <ion-card-content>
         
        </ion-card-content>
      </ion-card>
</ion-content>
