<ion-header [translucent]="true">
  <ion-toolbar  color="secondary" >
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" (click)="presentPopover($event)"></ion-menu-button>
    </ion-buttons>
    <ion-title>RiverRipples</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header >
      <ion-label>Signup</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label  color="secondary" position="floating" placeholder="username">Username</ion-label>
      <ion-input color="secondary" type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="floating" >Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="start()">Sign Up!</ion-button>
  <ion-button (click)="openModal()">modal</ion-button>
  

</ion-content>
