<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      RiverRipples
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">


<ion-item class="no-lines">
  <ion-label position="floating" placeholder="username">Username</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" placeholder="password">Password</ion-label>
  <ion-input></ion-input>
</ion-item>
  
<ion-item>
  <ion-checkbox checked="true"></ion-checkbox>
  <ion-label>Remember Me</ion-label>
</ion-item>

<ion-item>
  <ion-label>Account Type</ion-label>
  <ion-select class="custom-options" interface="popover">
    <ion-select-option value="brown">Customer</ion-select-option>
    <ion-select-option value="blonde">Shop Keeper</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-button block>Login</ion-button>
</ion-item>



    
    <!-- fab placed in the bottom to share the app in social media-->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <!-- fab placed in the top with settings icon-->
    <ion-fab vertical="top" horizontal="end" right edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
    </ion-fab>


    <!-- fab placed in the centre with chat icon-->
    <ion-fab vertical="center" horizontal="end" right edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
    
    <ion-footer>
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-footer>
</ion-content>
