<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Canopus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary"  >
      <button class = "button icon ion-navicon"></button>
      <h1 class = "title">Header Buttons</h1>
      <ion-title size="large">Canopus</ion-title>
      <button class = "button icon ion-home"></button>
     
    </ion-toolbar>
  </ion-header>

 
</ion-content>
